

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background: #D6F4E2;
  color: #26613D;
  font-family: 'Acme', sans-serif;
  font-size: 17px;
  font-weight: lighter
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #16A850;
  font-weight: 600;
  font-size: 35px;
}

a:hover {

  transition: background-color 0.3s ease-in-out;
  color: #1DDB69;
  cursor: pointer;
  font-weight: bold;
}

h2 {
  color: #7ECE90;
  font-size: 25px;
  font-weight: lighter;
  font-weight: 500;
  text-align: center;
}

.container {
  width: 500px;
  margin: auto;
}

.card-white {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.967);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start:  0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: px;
}
.list-inline {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
  }

.botonmurano{
  background-color: #26613D;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
}

.botonmurano:hover {

}
.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}
